<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="header">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title th:text="${tittlePage}"></title>
		
		<!-- Style -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"	crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/custom.css">
		<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">
		
		<!-- Javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script src="/js/utils.js"></script>
		<script src="/js/datePicker.js"></script>
		<script src="/js/validationsForm.js"></script>
	</th:block>


    <!-- Menu fragment -->
	<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">Spring's Jungle</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/" th:text="#{menu.home}"> </a> 
				<a class="nav-item nav-link" href="/user/newUser" th:text="#{menu.user.new}"></a> 
				<a class="nav-item nav-link" href="/user/showAllUser" th:text="#{menu.user.show.all}"></a>
			</div>
		</div>
		<div id="idDivLangSelector">
			<select th:with="localeLanguage=*{localeLanguage}"  name="localeLanguage" id="languageSelector"  >
				<option th:each="i : ${listOfLang}" 
						th:value="${i}" 
						th:text="#{lang.+${i}}"
	      				th:selected="${i==localeLanguage}">
	      		</option>
			</select>
		</div>	
	</nav>
	
	<!-- Modal simple -->
	<div th:fragment="modal">
		
		<div class="modal" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" th:text="${messagePropertiesTittleModal}"> </h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p th:text="${messagePropertiesBodyModal}"></p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok!</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		
		<script>
			$(window).on('load', function() {
				$('.modal').modal('show');
			});
		</script>
	</div>
	
	<th:block th:fragment="modalInformationCustom">
		
		<div class="modal fade" id="modalInformationCustom" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
	        	<h5 class="modal-title" th:id="idModalInfoTitle"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		         <p th:id="idModalInfoDescription"></p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok!</button>
		      </div>
		    </div>
		  </div>
		</div>
	</th:block>
	
	<th:block th:fragment="modalConfirmation">
		<div class="modal fade" id="modalConfirmation" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
		  <div class="modal-dialog modal-sm" role="document">
		    <div class="modal-content">
		    	<div class="modal-header">
		        <h5 class="modal-title" th:text="#{modal.confirmation.title}"></h5>
		      </div>
		      <div class="modal-body">
		           <p th:text="#{modal.confirmation.description}"></p>
		      </div>
		      <div class="modal-footer" style="display: initial !important;">
				<div class="float-left">
				      	<button type="button" class="btn btn-light btn-sm" data-dismiss="modal" th:text="#{modal.btn.cancel}"></button>
				</div>
				<div class="float-right">
				      	<button type="button" class="btn btn-light btn-sm" id="idBtnConfirmationAcept" th:text="#{modal.btn.acept}"></button>
				</div>
		      	</div>
		    </div>
		  </div>
		</div>
	</th:block>
  
</html>