<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="newUser" class="container-fluid">
		
		<h1 th:text="#{tittle.new.user}" class="display-3 border border-success border-top-0 border-left-0 border-right-0"></h1>
		<div class="d-flex justify-content-center my-5">
			<form  class="col-md-12 needs-validation" novalidate th:action="@{/user/new}" th:object="${userDTO}" id="formNewUser" method="post">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{user.name}"></label> 
						<input type="text" class="form-control" id="name" th:field="*{name}" name="name" required maxlength="30"/>
						 <small th:if="${#fields.hasErrors('name')}"  class="form-text text-danger" th:errors="*{name}"></small>
					</div>
					<div class="form-group col-md-6">
						<label th:text="#{user.surnames}"></label> 
						<input type="text" class="form-control" id="surnames" th:field="*{surnames}" name="surnames" required maxlength="40"/>
						 <small th:if="${#fields.hasErrors('surnames')}" class="form-text text-danger" th:errors="*{surnames}"></small>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{user.alias}"></label> 
						<div class="input-group">
							<div class="input-group-prepend">
					          <span class="input-group-text">@</span>
							<input type="text" class="form-control" id="userAlias" name="userAlias" th:field="*{userAlias}" required maxlength="12"/>
					        </div>
					        <br>
							<small th:if="${#fields.hasErrors('userAlias')}"  class="form-text text-danger" th:errors="*{userAlias}"></small>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label th:text="#{user.mobil}"></label> 
						 <input type="number" class="form-control" id="mobilNumber" name="mobilNumber" th:field="*{mobilNumber}" maxlength="9"/>
						 <small th:if="${#fields.hasErrors('mobilNumber')}"  class="form-text text-danger" th:errors="*{mobilNumber}"></small>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{user.email}"></label> 
						<input type="email" class="form-control" id="email" name="email" th:field="*{email}" required maxlength="50"  />
						<small th:if="${#fields.hasErrors('email')}"  class="form-text text-danger" th:errors="*{email}"></small>
					</div>
						
					 <div class="form-group col-md-6">
					 	<label th:text="#{user.date.of.birth}"></label> 
		                  <input class="form-control"  data-date-format="dd/mm/yyyy" id="datepicker" th:field="*{dateOfBirth}" required>
		            </div>
				</div>
				<div class="d-flex justify-content-between">
					<button type="button" class="btn btn-primary" id="idButtonCleanFieldsForm" th:text="#{btn.clear.form}"></button>
					<button type="submit" class="btn btn-primary" th:text="#{btn.save}"></button>
				</div>
			</form>
		</div>
	</div>

</html>