<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="showUser" class="container-fluid d-flex justify-content-center">
		<div th:if="${userNotFound}">
			<h1  th:text="#{user.not.exists}"  class="display-4 border border-success border-top-0 border-left-0 border-right-0"> </h1>
		</div>
		<div  class="col-md-12" th:unless="${userNotFound}">
			<h1 th:text="#{user.information}"  class="display-3 border border-success border-top-0 border-left-0 border-right-0 mb-5">:</h1>
			<div  class="col-md-10">
				<div class="row col-md-12">
					<div class="col-md-6">
						<label class="font-weight-bold" th:text="#{user.name}"></label>:  <span th:text="${userDTO.name}"></span>
					</div>
					<div class="col-md-6">
						<label class="font-weight-bold" th:text="#{user.surnames}"></label>: <span th:text="${userDTO.surnames}"></span>
					</div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-6">
						<label class="font-weight-bold" th:text="#{user.date.of.birth}"> </label>:  <span th:text="${userDTO.dateOfBirth}"></span>
					</div>
					<div class="col-md-6">
						<label class="font-weight-bold" th:text="#{user.mobil}"></label>: <span th:text="${userDTO.mobilNumber}"></span> 
					</div>
				</div>
				<div class="row col-md-12">
					<div class="col-md-6">
						<label class="font-weight-bold" th:text="#{user.email}"></label>: <span th:text="${userDTO.email}"></span>
					</div>
					<div class="col-md-6">
						<label class="font-weight-bold" th:text="#{user.alias}"></label>: <span th:text="${userDTO.userAlias}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>