<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	
	<div th:fragment="showAllUsers" class="container-fluid d-felx justify-content-center">
		<h1 th:text="#{tittle.all.users}" class="display-3 border border-success border-top-0 border-left-0 border-right-0"></h1>
		
		<div class="my-5">
			<table id="idTableListUsers" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%"></table>
		</div>
		
		<div th:insert="~{commons/fragments :: modalConfirmation}"></div>
		<div th:insert="~{commons/fragments :: modalInformationCustom}"></div>
		<div th:insert="~{js/jsShowAllUsers :: jsShowAllUsers}"></div>
	</div>
	
	
</body>
</html>