/*This two solutions let improve the date picker style */
/* solution 1:*/
.datepicker {
    font-size: 0.875em;
}
/* solution 2: the original datepicker use 20px so replace with the following:*/

.datepicker td, .datepicker th {
    width: 1.5em;
    height: 1.5em;
}

.invalid-data-input{
	color: #e80c0c;
}

.icons-actions-size{
	height:20px;
	width:20px; 
}