<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:insert="~{commons/fragments :: header}"></div>	
</head>
<body>
	<div th:insert="~{commons/fragments :: menu}"></div>
	<div class="container h-100">
		<div class="row col-md-12 h-100 justify-content-center align-items-center">
			<div class="row col-md-12" style="alig:center">
				<h1 th:text="#{wellcome}"><span class="badge badge-secondary" th:text="${name}"></span></h1>
			</div>
			<div class="row col-md-12">
				<img alt="spring boot logo" src="/img/spring_boot_logo.png"  height="300" width="300"/>
			</div>
		</div>
	</div>
</body>
</html>