<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Show User</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<div th:if="${noUsersFound}">
		<h1><span class="badge badge-secondary">There aren't users</span></h1>
	</div>
	<div th:unless="${noUsersFound}">

		<h1><span class="badge badge-secondary">Listing all user:</span></h1>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">User Alias</th>
					<th scope="col">Name</th>
					<th scope="col">Surnames</th>
					<th scope="col">Date of birth</th>
					<th scope="col">Movil phone</th>
					<th scope="col">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listOfUsers}">
					<th scope="row" th:text="${user.userAlias}"></th>
					<td th:text="${user.name}"></td>
					<td th:text="${user.surnames}"></td>
					<td th:text="${user.dateOfBirth}"></td>
					<td th:text="${user.movilNumber}"></td>
					<td th:text="${user.email}"></td>
				</tr>
			</tbody>
		</table>

		
	</div>
</body>
</html>